.colornegro{
    --blackground: black;
}
.custom-title {
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 265%; 
  }
  
  .custom-input {
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 145%; 
  }
  
  .custom-button {
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 145%; 
  }
  