<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Error</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

    <ion-card-title class="ion-text-center">Not-found</ion-card-title>
    <ion-card-title class="ion-text-center">ERROR</ion-card-title>
  </ion-header>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets/img/nofound.svg" />
    <ion-card-header>
      <ion-card-title>Pagina no encontrada</ion-card-title>
    </ion-card-header>

  </ion-card>
</ion-content>
