<ion-header [translucent]="true">


  <ion-card-title  class="custom-title" >RegistrApp</ion-card-title>


</ion-header>
<ion-content>
<ion-img src="assets/img/elegirusuario.svg" ></ion-img>
<ion-item>
</ion-item>

<ion-item>

</ion-item>


</ion-content>  
<ion-button [routerLink]="['/registro']" size="large" class="custom-button" shape="full" border-color="black" >Alumno</ion-button>
<ion-button [routerLink]="['/registro-profesor']" shape="full" class="custom-button" size="large"  fill="outline">Profesor</ion-button>