<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-item-divider>
    <ion-label >Bienvenido: {{user.nombre}}</ion-label>
  </ion-item-divider>
  <ion-content>
    <ion-item-divider>
      <ion-label >Rut: {{user.rut}}</ion-label>
    </ion-item-divider>
    
  
    <ion-item-divider>
      <ion-label >Correo: {{user.correo}}</ion-label>
    </ion-item-divider>
  
</ion-content>
<ion-button  (click)="startScan()" class="submit" expand="block">
  Scan
</ion-button>
 <ion-item class="result" *ngIf="scanResult" lines="none">
  <ion-label> 
    <p> Scan result</p>
    <div>{{scanResult}}</div>
  </ion-label>
 </ion-item>
