<ion-header [translucent]="true">


    <ion-card-title  class="custom-title" >RegistrApp</ion-card-title>


</ion-header>
<ion-content>
  <ion-img src="assets/img/login.svg" ></ion-img>
  <ion-item>
    <ion-label position="floating"></ion-label>
    <ion-input  [(ngModel)]="formlogin.rut"  class="custom-input" placeholder="Ingrese RUT"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating"></ion-label>
    <ion-input [(ngModel)]="formlogin.password" class="custom-input" type="password" text="center" placeholder="Ingrese Contraseña"></ion-input>
  </ion-item>
  <ion-button (click)="iniciarSesion()" expand="block" class="custom-button-b" type="dark" size="large" shape="full" color="dark"  >Ingresar</ion-button>
  
  <ion-button [routerLink]="['/password']" size="large" class="custom-button" shape="full" border-color="black" color="warning" >Recuperar contraseña</ion-button>
  <ion-button [routerLink]="['/registro']" shape="full" class="custom-button" size="large"  fill="outline">Registrarse</ion-button>
</ion-content>  
