<ion-header [translucent]="true">
  <ion-toolbar class="colornegro">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-img src="assets/img/login.svg" ></ion-img>
  <ion-item>
    <ion-label position="floating"></ion-label>
    <ion-input [(ngModel)]="formlogin.rut" placeholder="Ingrese rut"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating"></ion-label>
    <ion-input [(ngModel)]="formlogin.password" type="password" placeholder="Ingrese contraseña"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button (click)="inicarSesion()" expand="block" fill="clear" size="default" >inicar sesion</ion-button>
  </ion-item>
  
  <ion-button [routerLink]="['/password']" shape="block" fill="clear" >Olvidaste tu contraseña</ion-button>
  
</ion-content>  
<ion-button [routerLink]="['/registro']" shape="block"  fill="clear">Registrarse</ion-button>