<?xml version='1.0' encoding='utf-8'?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:amazon="http://schemas.amazon.com/apk/res/android">
<application  >

</application>
    <!-- To get access to the camera. -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- To get access to the flashlight. -->
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
</manifest>