
.custom-title-a {
    display: flex;
    font-size: 265%; 
    font-weight: 800;
  }
.custom-title-b {
    display: flex;
    font-size: 170%; 
    
  }
  .custom-label {
    display: flex;
    font-size: 205%; 
  }