<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="custom-title-a">Bienvenido</ion-title>
  </ion-toolbar>
  <ion-card-header>
    <ion-title class="custom-title-b">{{mensaje2}}</ion-title>
  </ion-card-header>
</ion-header>

<ion-content>
  <ion-item-divider>
    <ion-label class="custom-label">Rut: {{mensaje}}</ion-label>
  </ion-item-divider>
  
  <ion-item-divider>
    <ion-label class="custom-label">Nombre: {{user.nombre}}</ion-label>
  </ion-item-divider>

  <ion-item-divider>
    <ion-label class="custom-label">Correo: {{user.correo}}</ion-label>
  </ion-item-divider>

  <ion-item-divider>
    <ion-label class="custom-label">Contraseña: {{user.password}}</ion-label>
  </ion-item-divider>


</ion-content>
<!--<ion-button expand="full" color="danger" (click)="clearStorage()">
  Borrar Todos los Usuarios
</ion-button>-->
<!--<ion-button (click)="clearStorage()">Borrar Todos los Usuarios</ion-button>-->