<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>a</ion-back-button>
    </ion-buttons>
    <ion-title class="custom-title">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="assets/img/registro.svg"></ion-img>
  <ion-item>
    <ion-label position="floating"></ion-label>
    <ion-input [(ngModel)]="formlogin.rut" class="custom-input" placeholder="Ingrese rut"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"></ion-label>
    <ion-input [(ngModel)]="formlogin.nombre" class="custom-input"  placeholder="Ingrese nombre y apellido"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"></ion-label>
    <ion-input [(ngModel)]="formlogin.correo" class="custom-input" placeholder="Ingrese correo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"></ion-label>
    <ion-input [(ngModel)]="formlogin.password" class="custom-input" type="password" placeholder="Ingrese contraseña"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"></ion-label>
    <ion-input type="password" class="custom-input" placeholder="Repita la contraseña"></ion-input>
  </ion-item>
  <ion-button (click)="Registrarse()" class="custom-button" size="large" shape="full">Registrarse</ion-button>
</ion-content>
